services:
  server:
    build:
      context: .
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - S3_BUCKET=${S3_BUCKET}
      - S3_KEY=${S3_KEY}
      - ENV=${ENV}
    ports:
      - "${PORT:-8050}:${PORT:-8050}"
